/* Erik Petersen Week 3-Day 2: Responsive Design...but not really */

@media screen and (max-width: 480px) {

  .col-1,
  .col-2,
  .col-3 {
    position: relative;
    float: left;
    width: 25%;
    margin: 0 auto;
  }

  /*li {
    box-sizing: border-box;
    position: relative;
    right: 2em;
    float: left;
    width: 16.66%;
    margin: 0 auto;
  }*/

}

@media screen and (min-width: 480px) and (max-width: 1024px){

  .col-1,
  .col-2,
  .col-3 {
    position: relative;*/
    float: left;
    width: 20%;
    margin: 0 auto;
  }

  /*li {
    box-sizing: border-box;
    position: relative;
    right: 2em;
    float: left;
    width: 16.66%;
    margin: 0 auto;
  }*/

}

body {
  font-family: "Lato", sans-serif;
  width: 100%;
  box-sizing: border-box;
}

.grid-container {
  width: 100%;
}

.cat-list {
  list-style: none;
}

.row {
  width: 100%;
  margin: auto;
}

.row:before,
.row:after {
  content: "";
  display: table;
  margin: 0 auto;
  clear: both;
}

[class *= "col-"] {
  position: relative;
  float: left;
  width: 16.66%;
  margin: 0 auto;
}

/*li {
  box-sizing: border-box;
  position: relative;
  right: 2em;
  float: left;
  width: 16.66%;
  margin: 0 auto;
}*/

a {
  text-decoration: none;
}

img {
  display: block;
  text-align: center;
  cursor: pointer;
}

.overlay {
  position: absolute;
  background-color: rgba(71,163,218,0.2);
  top: 1.7em;
  right: 1.7em;
  bottom: 1.7em;
  left: 1.7em;
  text-align: center;
  opacity: 0;
}

.overlay:hover {
  opacity: 1;
}

h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 8.25em;
  letter-spacing: .15em;
}
